<div class="form-group form-black label-floating is-empty"></div>
<div class="card-content col-12">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group form-black label-floating is-empty">
          <label class="control-label">Imagen de perfil de usuario</label>
          <input type="text" class="form-control" placeholder="Correo Electr." >
          <div class="bottom-window">Seleccionar un fondo</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2" >
          <div class="form-group form-black label-floating is-empty">
           <label class="control-label"><h6>Empresas</h6></label>
          </div>
      </div>
      <div class="col-10">
          <div class="form-group form-black label-floating is-empty">
            <hr>
          </div>
      </div>
    </div>
  </form>
</div>

