/* CSS used here will be applied after bootstrap.css */
.containerPlantilla{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;

}

.textAlignRight{
    text-align: right !important;
}

.marginTop{
    margin-top: 1rem;
}

  
  