<div class="container">
  <div class="row">
    <div class="col">
      <h3>{{title}}</h3>
      <hr>
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" [formGroup]="OrdenDePago">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="nmro">Número:</label>
              </div>
              <div class="form-group col-md-2">
                <span *ngIf="OrdenDePago.controls.numero.invalid && OrdenDePago.controls.numero.touched" class="text-danger">Número
                  es requerido</span>
                <input type="number" class="form-control" formControlName="numero" [(ngModel)]='num' min=1 [ngClass]="{'has-danger': OrdenDePago.controls.numero.invalid && OrdenDePago.controls.numero.dirty, 
                            'has-success':OrdenDePago.controls.numero.valid && OrdenDePago.controls.numero.dirty  }">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputCliente">Enviar a:</label>
              </div>
              <div class="form-group col-md-2">
                <select class="form-control" formControlName="enviar" placeholder="Enviar a" [(ngModel)]='env' 
                [ngClass]="{'has-danger': OrdenDePago.controls.enviar.invalid && OrdenDePago.controls.enviar.dirty }">
                  <option value="" disabled>Enviar a</option>
                  <option value="Listado">Detalle</option>
                  <option value="PDF">Archivo PDF</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <button type="button" class="btn btn-light lim" (click)="limpiar()">
                <i class="fa fa-trash-o" id="limpiar" aria-hidden="true"></i>Limpiar Filtros</button>
              <button type="button" class="btn btn-light" (click)="Aceptar()">
                <i class="fa fa-check" id="aceptar" aria-hidden="true"></i>Aceptar</button>
              <button type="button" class="btn btn-light" (click)="goBack()">
                <i class="fa fa-times" id="cancelar" aria-hidden="true"></i>Cancelar</button>
            </div>
          </form> 
        </div>
        
      </div>

    </div>
  </div>
</div>
