<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div style="padding: 20px 0px 0px 0px;">
        <div class="row">
          <div class="form-group col-md-8">
            <h3>{{ title }}</h3>
          </div>
          <div class="form-group col-md-2">
              <select class="form-control" placeholder="Enviar a: ">
                <option>Archivo PDF</option>
              </select>
          </div>
          <div class="form-group col-md-2">
              <button type="button" class="btn btn-light"  (click)="createPdf()"><i class="fa fa-check" id="aceptar" aria-hidden="true"  ></i>Aceptar</button>
              <button type="button" class="btn btn-light" (click)="goBack()"><i class="fa fa-arrow-left" id="cancelar" aria-hidden="true"></i>Volver</button>
          </div>
          <hr>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-body">
          
          <p-treeTable [value]="detalleReport" id=treetable>
              <ng-template pTemplate="header">
                  <tr>
                      <th style=" width: 300px;">Código</th>
                      <th style=" width: 900px">Descripción</th>
                      <th class="right">Saldo actual</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr>
                      <td class="code">
                          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                          {{rowData.code}}
                      </td>
                      <td>{{rowData.desc}}</td>
                      <td class="right">{{rowData.saldoActual | mConst}}</td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="footer" let-columns>
                <tr>
                  <th></th>
                  <th style="text-align: right !important;">TOTAL BALANCE GENERAL</th>
                  <th style="text-align: right !important;">{{ getSaldoAAcum() | mConst }}</th>
                </tr>
              </ng-template>
          </p-treeTable>
          <br>
          <table class="" >
            <tr>
              <td class="bold">ACTIVO:</td>
              <td>{{ getAcum("ACTIVOS") | mConst }}</td>
              <td class="bold">PASIVO + CAPITAL:</td>
              <td>{{ getAcum("PASIVOS") | mConst }}</td>
              <td class="bold">INGRESOS - EGRESOS:</td>
              <td>{{ getIngresoEgreso() | mConst }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
