<div class="col-md-12 principal">
  <div class="row">
    <div class="form-group col-md-8">
      <h3>Disponibilidad</h3>
    </div>

    <div class="form-group col-md-2">
      <select class="form-control" placeholder="Enviar a: ">
        <option value='PDF'>Archivo PDF</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <button type="button" class="btn btn-light" (click)="createPdf(rows)"><i class="fa fa-check" id="aceptar"
          aria-hidden="true"></i>Aceptar</button>
      <button type="button" class="btn btn-light" (click)="goBack()"><i class="fa fa-arrow-left" id="cancela"
          aria-hidden="true"></i>Volver</button>
    </div>
  </div>
  <hr>

  <div class="row" id="tab">
    <ngx-datatable id="myTable1" #myTable class='material expandable' [rows]="rows" [groupRowsBy]="'name'" [columnMode]="'force'"
      [scrollbarH]="true" [headerHeight]="40" [footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="5"
      [groupExpansionDefault]="true">

      <ngx-datatable-group-header #myGroupHeader (toggle)="onDetailToggle($event)">
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div>
            <button (click)="toggleExpandGroup(group)" [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded" style="background: white; border: 0; ">
              <b> <span style="text-align: left"> {{group.value[0].name}} </span></b>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-group-header>

      <ngx-datatable-column name="" [sortable]="false" [flexGrow]="1" prop="Disponibilidad">
        <div>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group"
            let-rowHeight="rowHeight">
            <p id="co_cajaid" *ngFor="let v of value; let i = index">
              <span [class.text-bold]="i == 0"> {{v.Co_Caja}}</span>
            </p>
          </ng-template>
        </div>
      </ngx-datatable-column>

      <ngx-datatable-column name="Banco" [sortable]="false" headerClass="cell-left" prop="Disponibilidad" [flexGrow]="0.4">
        <div>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group"
            let-rowHeight="rowHeight">

            <p id="descripid" *ngFor="let v of value; let i = index">
              <span [class.text-bold]="i == 0"> {{ v.Descrip }}</span>
            </p>
          </ng-template>
        </div>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" name="Monto en Otra Moneda" prop="Disponibilidad" [flexGrow]="0.5"
        headerClass="cell-right">
        <div>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group"
            let-rowHeight="rowHeight">
            <p id="montodid" style="text-align: right" *ngFor="let v of value; let i = index">
              <span [class.text-bold]="i == 0"> {{v.Monto_D | mConst}} </span>
            </p>
          </ng-template>
        </div>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" name="Monto" prop="Disponibilidad" [flexGrow]="0.5" headerClass="cell-right-margin">
        <div>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group"
            let-rowHeight="rowHeight">
            <p id="montohid" style="text-align: right; margin-right: 7%" *ngFor="let v of value ; let i = index">
              <span [class.text-bold]="i == 0"> {{v.Monto_H | mConst}} </span>
            </p>
          </ng-template>
        </div>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset">
          <div style="padding: 20px 10px; width: 100%;">
            <div class="col-md-12 footer-table">
              <span>Total Egreso: Esperando respuesta </span>
              <span style="padding-left: 50px;">Total Disponible: 
                Esperando respuesta 
              </span>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
