<div class="form-group form-black label-floating is-empty"></div>
<div class="card-content col-12">
  <form id="formtitle">
    <div class="row">
      <div class="col-6">
            <label class="control-label">Información de Registro</label>
      </div>
      <div class="col-6 text-right" >
        <button type="button" class="btn btn-light btn-sm">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
        </button>
        <button type="button" class="btn btn-light btn-sm">
            <i class="fa fa-times-circle" aria-hidden="true"></i> Rechazar</button>
        <button type="button" class="btn btn-light btn-sm">
            <i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
      </div>
    </div>
  </form>
</div>

