<div>
    <h2>Pedido</h2>
    <div class="containerPedido">
      <div class="container-fluid justify-content-end form-group marginTop">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
  
              <div class="col-md-2">
              <label class="col-form-label">Número:</label>
              </div>
  
              <div class="col-md-8">
              <input type="text" class="form-control" id="numeroBuscar">
              </div>
  
            </div>
          </div>
  
          <div class="col-md-7 textAlignRight">
            <app-barra-tarea></app-barra-tarea>
          </div>
        </div>
      <br>
        <div>
          <ngb-tabset>
            <ngb-tab title="Generales" class="generales">
              <ng-template ngbTabContent>
                <div>
                  <app-componente-generales #generales [mostrarStatus]="true"></app-componente-generales>
                </div>
              </ng-template>
            </ngb-tab>
  
            <ngb-tab title="Adicionales">
              <ng-template ngbTabContent>
                <div>
                  <app-componente-adicionales></app-componente-adicionales>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  
