<div class="form-group form-black label-floating is-empty"></div>
<div class="card-content col-12">
  <form id="form">
    <div class="row">
      <div class="col-1">
        <div class="form-group form-black label-floating is-empty">
        <label class="control-label">Nombre</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-black label-floating is-empty">
        <input type="text" class="form-control" placeholder="Nombre" >
        </div>
      </div>
      <div class="col-1">
        <div class="form-group form-black label-floating is-empty">
        <label class="control-label">Apellido</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-black label-floating is-empty">
        <input type="text" class="form-control" placeholder="Apellido" >
        </div>
      </div>
      <div class="col-1">
          <div class="form-group form-black label-floating is-empty">
          <label class="control-label">RIF/C.I.</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group form-black label-floating is-empty">
          <input type="text" class="form-control" placeholder="RIF/C.I." >
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-1">
        <div class="form-group form-black label-floating is-empty">
        <label class="control-label">Correo Electr.</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-black label-floating is-empty">
        <input type="text" class="form-control" placeholder="Correo Electr." >
        </div>
      </div>
      <div class="col-1">
        <div class="form-group form-black label-floating is-empty">
        <label class="control-label">Teléfono</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-black label-floating is-empty">
        <input type="text" class="form-control" placeholder="Teléfono" >
        </div>
      </div>
      <div class="col-1">
          <div class="form-group form-black label-floating is-empty">
          <label class="control-label">Usuario</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group form-black label-floating is-empty">
          <input type="text" class="form-control" placeholder="Usuario" >
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-1">
        <div class="form-group form-black label-floating is-empty">
        <label class="control-label">Contraseña</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-black label-floating is-empty">
        <input type="password" class="form-control" placeholder="Contraseña" >
        </div>
      </div>
  </div>
  </form>
</div>
