  #aceptar{
    color: green;
  }
  #cancelar{
    color: red;
  }
  .lim{
    margin-left: -5px; 
  }
  button{
    margin-right: 5px; 
  }
  #limpiar, #cancelar, #aceptar{
    margin-right: 5px;
  }
  h3{
  margin-left: 0;
  }