#right{
  text-align: right !important;
}


.text-title{
  color:white;
}

.ngx-datatable.material .datatable-body .datatable-group-header {
  border-bottom: 0px;
  border-top: 0px
}

#tab2{
  margin: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
}
ngx-datatable, ngx-datatable-column{
border: solid 1px #d9d9d9;
background: #f5f5f5;
border-top: none;

}  
#myTable1  {
  width: 100%;
}
.cell-right-margin{
 text-align: right;
 margin-right: 1.3%;
}
.cell-right {
text-align: right;
}
.cell-left{
text-align: left;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
text-align: center;
}

.text-bold{
 font-weight: bold;

}
#tab {
  padding: 5px;
}
.footer-table{
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  color:black;
}
.ngx-datatable .datatable-footer .datatable-pager .pager, .ngx-datatable .datatable-footer .datatable-pager .pager li{
  margin: 10px;
    /* margin: 0; */
    display: inline-block;
    list-style: none;
}
h3{
  margin: 0;
}

#aceptar{
  color: green;
}
#cancelar{
  color: red;
}
#limpiar, #cancelar, #aceptar{
  margin-right: 5px;
}