<table class="principal">
  <td class=titulo><strong>Parámetros</strong></td>
  <td class=linea><hr></td>
</table>
<label class="generales">Generales</label>
<table>
  <tr>
    <td><label >Usuario</label></td>
    <td><label >Tipo de usuario</label></td>
    <td><label >Estado</label></td>
  </tr>
  <tr>
      <td><input class="form-control" placeholder="Usuario"></td>
      <td><select class="form-control" placeholder="Tipo de usuario"><option>1</option></select></td>
      <td><select class="form-control" placeholder="Estado"><option>1</option></select></td>
  </tr>
  <tr>
      <td><label>Fecha - Desde</label></td>
      <td><label>Fecha - Hasta</label></td>
      <td></td>
    </tr>
    <tr>
      <td><input type=date readonly class="form-control claseCalendario" name="date"></td>
      <td><input type=date readonly class="form-control claseCalendario" name="date"></td>
      <td class=boton><button type="button" >Consultar</button></td>
    </tr>
</table>
