<!--<app-componente-titulo-gestion></app-componente-titulo-gestion>
<app-componente-formulario-gestion></app-componente-formulario-gestion>
<app-componente-imagen-gestion></app-componente-imagen-gestion>
<tr>
  <td><app-componente-rif-gestion></app-componente-rif-gestion></td>
  <td><app-componente-empresas-gestion></app-componente-empresas-gestion></td>
</tr>
-->

<div class="container">
  <!--<label for="ejwqkhkjqwhe">ewjuwqheu</label>
  <ul>
    <li *ngFor="let item of items">
<a href="">{{items}}</a>
    </li>
  </ul>-->
  <!-- <li  *ngFor="let item of menu;let i = index"
   class="menu-list" [ngClass]="{'active': selectedIdx == i}">
   <a  routerLink="/Reportes/Administrativo/CajaBanco/OrdenPagoFormato" > {{item.name}}</a>
</li> -->
</div>
